.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  position: relative; // its set to sticky if browser supports, find CSS for that below
  z-index: 1;
  background: white;

  & .navLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;

    @media screen and (max-width: 800px) {
      width: 80%;
    }

    & .navLink {
      margin: 0 1rem;
      font-size: 1.2rem;

      &:hover {
        font-weight: bold;
      }

      & .cartIconContainer {
        position: relative;
      }

      & .shoppingIcon {
        height: 1.5rem;
      }

      & .itemCountContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & .itemCount {
          position: absolute;
          font-size: 0.9rem;
          top: 19%;
        }
      }
    }
  }
}

@supports (position: sticky) {
  .navigation {
    position: sticky;
    // 1 rem as per good looking design + additional 20 px as we have specified 20px top padding for all elements in index.scss
    top: 2rem;
  }

  @media screen and (max-width: 800px) {
    .navigation {
      top: 1.5rem;
    }
  }
}
