.formContainer {
  // Out of the given screen width of container, each container has 45% ie. 2 forms separated by 2.5% each can be placed on a screen
  width: 45%;
  display: flex;
  flex-direction: column;

  & .buttonsContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
