.cardWrapper {
  height: 240px;
  min-width: 30%;
  position: relative;
  flex: 1 1 auto;
  cursor: pointer;
  overflow: scroll;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;

  @media screen and (max-width: 800px) {
    height: 220px;
    min-width: 40%;

    // there is no hover on mobile devices, so unsetting these values
    &:hover {
      .backgroundImage {
        transform: unset;
        overflow: unset;
      }

      .cardBodyContainerWithoutOverlay {
        visibility: unset;
      }
    }
  }

  & .imageWrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;

    & .backgroundImage {
      height: 100%;
      width: 100%;
      opacity: 1;
      background-size: cover;
      background-position: center;
      transition: transform 1s;
      overflow: hidden;
    }
  }

  &:hover {
    .backgroundImage {
      transform: scale(1.07);
      overflow: hidden;
    }

    .cardBodyContainerWithoutOverlay {
      visibility: visible;
    }
  }

  & .cardBodyContainerWithOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 0 1.5rem;
    opacity: 0.8;
    background-color: white;
    color: rgb(74, 74, 74);
    text-align: center;

    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 800px) {
      opacity: 0.7;
      font-size: 0.8rem;
      padding: 0 1rem;
      top: 75%;

      h2 {
        font-size: 1rem;
      }
    }
  }

  & .cardBodyContainerWithoutOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 0 2rem;
    opacity: 0.8;
    background-color: white;
    color: rgb(74, 74, 74);
    text-align: center;
    visibility: hidden;

    @media screen and (max-width: 800px) {
      padding: 0 1rem;
      visibility: visible;
    }

    &:hover {
      background-color: black;
      color: white;
      border: none;
      opacity: 1;
      transition: transform 1s;
      transform: translate(-50%, -50%) scale(1.05);
    }
  }

  & .overlayPositionBottom {
    top: 75%;
  }

  & .overlayHeaderSmall {
    h2 {
      font-size: 1rem;
    }
  }

  & .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }
}

.large {
  height: 330px;
}

.disableImageTransition {
  & .shortened-image-wrapper {
    & .background-image {
      transform: scale(1);
    }
  }
}

.shortenedImageWrapper {
  .imageWrapper {
    height: 90%;
  }
}

// ~
